* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
body {
  background: linear-gradient(
    90deg,
    rgba(48, 16, 255, 1) 0%,
    rgba(100, 115, 255, 1) 100%
  );
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 520px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
  overflow: hidden;
}

.delete_button {
  width: 50%;
  padding: 16px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );
  color: #fff;
  font-size: 1.05rem;
  font-weight: bold;
  text-transform: capitalize;
  transition: all 0.4s;
}

.delete_button:hover {
  transform: translateY(-3px);
}
.delete_button:active {
  transform: scale(0.96);
}

.people_row {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  color: #fff;
  font-weight: bold;
  margin: 4px;
  padding: 16px;
  border-radius: 4px;
  width: 80%;
  transition: all 0.3s;
}

.people_row:hover {
  transform: scale(0.96);
}

.people_row:first-of-type {
  margin-top: 10px;
}
